PhysicalUnitsLibrary/PhysicalUnitsLibrary.sln
PhysicalUnitsLibrary/PhysicalUnitsLibrary/ConstG.cs
PhysicalUnitsLibrary/PhysicalUnitsLibrary/Energy.cs
PhysicalUnitsLibrary/PhysicalUnitsLibrary/PhysicalUnitsLibrary.csproj
PhysicalUnitsLibrary/PhysicalUnitsLibrary/Properties/AssemblyInfo.cs
PhysicalUnitsLibrary/PhysicalUnitsLibrary/obj/Debug/PhysicalUnitsLibrary.csproj.FileListAbsolute.txt
PhysicalUnitsLibrary/PhysicalUnitsLibrary/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
PhysicalUnitsLibrary/PhysicalUnitsLibrary/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
PhysicalUnitsLibrary/PhysicalUnitsLibrary/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
PhysicalUnitsLibrary/PhysicalUnitsLibrary/obj/Release/PhysicalUnitsLibrary.csproj.FileListAbsolute.txt
PhysicalUnitsLibrary/PhysicalUnitsLibrary/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
PhysicalUnitsLibrary/PhysicalUnitsLibrary/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
PhysicalUnitsLibrary/PhysicalUnitsLibrary/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
TelephoneBook/TelephoneBook/Properties/Resources.resx
TelephoneBook/TelephoneBook/Properties/Settings.Designer.cs
TelephoneBook/TelephoneBook/Properties/Resources.Designer.cs
TelephoneBook/TelephoneBook/Properties/Settings.settings
TelephoneBook/TelephoneBook/Properties/AssemblyInfo.cs
TelephoneBook/TelephoneBook/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
TelephoneBook/TelephoneBook/obj/Debug/TelephoneBook.csproj.FileListAbsolute.txt
TelephoneBook/TelephoneBook/obj/Debug/TelephoneBook.Properties.Resources.resources
TelephoneBook/TelephoneBook/obj/Debug/TelephoneBook.MainForm.resources
TelephoneBook/TelephoneBook/obj/Debug/TelephoneBook.FormForEdit.resources
TelephoneBook/TelephoneBook/obj/Debug/TelephoneBook.FormForAdd.resources
TelephoneBook/TelephoneBook/obj/Debug/TelephoneBook.AddUser.resources
TelephoneBook/TelephoneBook/bin/Debug/phonebook.dat
TelephoneBook/TelephoneBook/bin/Debug/TelephoneBook.vshost.exe.config
TelephoneBook/TelephoneBook/bin/Debug/TelephoneBook.vshost.exe.manifest
TelephoneBook/TelephoneBook/bin/Debug/TelephoneBook.exe.config
TelephoneBook/TelephoneBook/TelephoneBook.csproj
TelephoneBook/TelephoneBook/MainForm.resx
TelephoneBook/TelephoneBook/MainForm.Designer.cs
TelephoneBook/TelephoneBook/FormForEdit.resx
TelephoneBook/TelephoneBook/FormForEdit.Designer.cs
TelephoneBook/TelephoneBook/FormForAdd.resx
Mixins/Mixins/FeedDogAttribute.cs
Mixins/Mixins/Mixins.csproj
Mixins/Mixins/Mixins.sln
Mixins/Mixins/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Mixins/Mixins/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Mixins/Mixins/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
TelephoneBook/TelephoneBook.sln
TelephoneBook/TelephoneBook/AddUser.resx
TelephoneBook/TelephoneBook/AddUser.Designer.cs
TelephoneBook/TelephoneBook/App.config
TelephoneBook/TelephoneBook/FormForAdd.Designer.cs
TelephoneBook/TelephoneBook/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
TelephoneBook/TelephoneBook/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
